
 
  <!-- <app-header  ></app-header> -->
  <!-- <router-outlet></router-outlet> -->
   <!-- <button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292"/></svg></button> -->
<div id="wrapper">
        <!-- START CONTENT -->
        <div id="content">
            <!-- ===================================
              START THE HEADER
            ==================================== -->
            <header class="default heade-sticky">
                <a href="index.html">
                    <div class="un-item-logo">
                        <img class="logo-img light-mode" src="assets/assetsryal/images/logo_07.png" alt="">
                        <img class="logo-img dark-mode" src="assets/assetsryal/images/logo_07b.png" alt="">
                    </div>
                </a>
                <div class="un-block-right">
                    <div class="un-notification">
                        <a href="page-activity.html" aria-label="activity">
                            <i class="ri-notification-line"></i>
                        </a>
                        <span class="bull-activity"></span>
                    </div>
                    <div class="un-user-profile">
                        <a href="page-my-profile.html" aria-label="profile">
                            <picture>
                                <source srcset="assets/assetsryal/images/avatar/11.webp" type="image/webp">
                                <img class="img-avatar" src="assets/assetsryal/images/avatar/11.jpg" alt="">
                            </picture>
                        </a>
                    </div>
                    <!-- menu-sidebar -->
                    <div class="menu-sidebar">
                        <button type="button" name="sidebarMenu" aria-label="sidebarMenu" class="btn"
                            data-bs-toggle="modal" data-bs-target="#mdllSidebar-connected">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="9.3" viewBox="0 0 19 9.3">
                                <g id="Group_8081" data-name="Group 8081" transform="translate(-329 -37)">
                                    <rect id="Rectangle_3986" data-name="Rectangle 3986" width="19" height="2.3"
                                        rx="1.15" transform="translate(329 37)" fill="#222032" />
                                    <rect id="Rectangle_3987" data-name="Rectangle 3987" width="19" height="2.3"
                                        rx="1.15" transform="translate(329 44)" fill="#222032" />
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </header>
            <!-- ===================================
              START THE SPACE STICKY
            ==================================== -->
            <div class="space-sticky"></div>
            <!-- ===================================
              START THE NFT SWIPER
            ==================================== -->
  
            <!-- ===================================
              START THE BEST SELLER
            ==================================== -->
            <section class="margin-t-20 unList-bestSeller">
                <!-- un-title-default -->
                <div class="un-title-default">
                    <div class="text">
                        <h2>Estilistas</h2>
                        <p>Seleccione un estilista para ver el detalle o asigne un trabajo</p>
                    </div>
                    <div class="un-block-right">
                        <a href="page-best-seller.html" class="icon-back" aria-label="iconBtn">
                            <i class="ri-arrow-drop-right-line"></i>
                        </a>
                    </div>
                </div>

                <div class="content-list-sellers">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/22.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/22.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>9.4 <span>ETH</span></h5>
                                        <p>John Sullivan <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/9.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/9.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>7.2 <span>ETH</span></h5>
                                        <p>Doris Logue <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox" checked>
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/17.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/17.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>5.1 <span>ETH</span></h5>
                                        <p>Tito_Calab <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- ===================================
          START THE BOTTOM NAVIGATION
        ==================================== -->
        <footer class="un-bottom-navigation filter-blur">
            <div class="em_body_navigation border-0 -active-links">
                <div class="item_link">
                    <a href="homepage.html" class="btn btn_navLink" aria-label="btnNavigation">
                        <div class="icon_current">
                            <i class="ri-file-user-line"></i>
                        </div>
                        <div class="icon_active">
                            <i class="ri-file-user-fill"></i>
                        </div>
                    </a>
                </div>
              <div class="item_link">
                    <button type="button" name="uploadItem" aria-label="uploadItem"
                        class="btn btn_navLink without_active" data-bs-toggle="modal" data-bs-target="#mdllUploadItem"
                        aria-label="btnNavigation">
                        <div class="btn btnCircle_default">
                            <i class="ri-add-line"></i>
                        </div>
                    </button>
                </div>
                <div class="item_link">
                    <a href="page-account.html" class="btn btn_navLink" aria-label="btnNavigation">
                        <div class="icon_active">
                            <i class="ri-line-chart-line"></i>
                        </div>
                        <div class="current">
                            <i class="ri-line-chart-fill"></i>
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <!-- ===================================
      START THE MODAL UPLOAD
    ==================================== -->
    <div class="modal transition-bottom screenFull defaultModal mdlladd__rate fade" id="mdllUploadItem" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="title-modal">Upload Item</h1>
                    <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ri-close-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="content-upload-item text-center">
                        <p>
                            Choose <span>"Single"</span> if you want your collectible to be one of a kind or
                            <span>"Multiple"</span>
                            if you want
                            to sell one collectible multiple times
                        </p>
                        <div class="grid_buttonUpload">
                            <a href="page-create-single.html" class="btn btn-create bg-primary text-white margin-b-20">
                                Create Single
                            </a>
                            <a href="page-create-multi.html"
                                class="btn btn-create bg-white border border-solid border-snow text-dark">
                                Create Multiple
                            </a>
                        </div>
                    </div>

                </div>
                <div class="modal-footer border-0">
                    <div class="env-pb"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================================
      START THE MODAL ADD ETH
    ==================================== -->
    <div class="modal transition-bottom screenFull defaultModal mdlladd__rate fade" id="mdllAddETH" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="title-modal">Add ETH to your wallet</h1>
                    <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ri-close-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="content-upload-item">
                        <p class="text-center">
                            Select one of the options to deposit <br> ETH to your wallet
                        </p>
                        <div class="un-navMenu-default margin-t-30 p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item mb-3">
                                    <a class="nav-link effect-click" href="javascript: void(0)">
                                        <div class="item-content-link">
                                            <div class="icon color-text w-auto">
                                                <i class="ri-exchange-box-line"></i>
                                            </div>
                                            <h3 class="link-title">Deposit from an exchange</h3>
                                        </div>
                                        <div class="other-cc">
                                            <span class="badge-text"></span>
                                            <div class="icon-arrow">
                                                <i class="ri-arrow-drop-right-line"></i>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item mb-0">
                                    <a class="nav-link effect-click" href="javascript: void(0)">
                                        <div class="item-content-link">
                                            <div class="icon color-text w-auto">
                                                <i class="ri-bank-card-line"></i>
                                            </div>
                                            <h3 class="link-title">Buy with card</h3>
                                        </div>
                                        <div class="other-cc">
                                            <span class="badge-text"></span>
                                            <div class="icon-arrow">
                                                <i class="ri-arrow-drop-right-line"></i>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <div class="modal-footer border-0">
                    <div class="env-pb"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================================
      START THE MODAL SIDEBAR MENU - CONNECTED
    ==================================== -->
    <div class="modal sidebarMenu -left fade" id="mdllSidebar-connected" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header d-block pb-1">

                    <!-- un-user-profile -->
                    <div class="un-user-profile">
                        <div class="image_user">
                            <picture>
                                <source srcset="assets/assetsryal/images/avatar/11.webp" type="image/webp">
                                <img src="assets/assetsryal/images/avatar/11.jpg" alt="image">
                            </picture>
                        </div>
                        <div class="text-user">
                            <h3>Ryal POS</h3>
                            <p>Salon Administrator</p>
                        </div>
                    </div>

                    <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ri-close-fill"></i>
                    </button>

                    <!-- cover-balance -->
                    <div class="cover-balance">
                        <div class="un-balance">
                            <div class="content-balance">
                                <div class="head-balance">
                                    <h4>Balance del dia</h4>
                                    <a class="btn link-addBalance" data-bs-toggle="modal" data-bs-dismiss="modal"
                                        data-bs-target="#mdllAddETH">
                                        <i class="ri-eye-fill"></i>
                                    </a>
                                </div>
                                <p class="no-balance">$ 389,650 </p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-sm-size bg-white text-dark rounded-pill"
                            data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#mdllUploadItem">
                            Cerrar
                        </button>
                    </div>


                </div>
                <div class="modal-body">
                    <ul class="nav flex-column -active-links">
                        <li class="nav-item">
                            <a class="nav-link" href="homepage.html">
                                <div class="icon_current">
                                         <i class="ri-file-user-line"></i>

                                </div>
                                <div class="icon_active">
                                    <i class="ri-file-user-fill"></i>
                                </div>
                                <span class="title_link">Miembros</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="homepage.html">
                                <div class="icon_current">
                                    <i class="ri-line-chart-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-line-chart-fill"></i>
                                </div>
                                <span class="title_link">Reportes</span>
                            </a>
                        </li>
                     <!--    <li class="nav-item">
                            <a class="nav-link" href="app-homes.html">
                                <div class="icon_current">
                                    <i class="ri-home-5-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-home-5-fill"></i>
                                </div>
                                <span class="title_link">Home Styles</span>

                                <span class="xs-badge">8</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="app-pages.html">
                                <div class="icon_current">
                                    <i class="ri-pages-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-pages-fill"></i>
                                </div>
                                <span class="title_link">Page Packs</span>

                                <div class="badge-circle">
                                    <span class="doted_item"></span>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="app-components.html">
                                <div class="icon_current">
                                    <i class="ri-layout-2-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-layout-2-fill"></i>
                                </div>
                                <span class="title_link">Components</span>

                            </a>
                        </li>

                        <label class="title__label">other</label>

                        <li class="nav-item">
                            <a class="nav-link" href="page-help.html">
                                <div class="icon_current">
                                    <i class="ri-questionnaire-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-questionnaire-fill"></i>
                                </div>
                                <span class="title_link">Help Center</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="page-about.html">
                                <div class="icon_current">
                                    <i class="ri-file-info-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-file-info-fill"></i>
                                </div>
                                <span class="title_link">About Unic.</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="homepage.html" class="nav-link">
                                <div class="icon_current">
                                    <i class="ri-logout-box-r-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-logout-box-r-fill"></i>
                                </div>
                                <span class="title_link">Sign Out</span>
                            </a>
                        </li>
 -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="em_darkMode_menu">
                        <label class="text" for="switchDark">
                            <h3>Modo Oscuro</h3>
                            <!-- <p>Browsing in night mode</p> -->
                        </label>
                        <label class="switch_toggle toggle_lg theme-switch" for="switchDark">
                            <input type="checkbox" class="switchDarkMode theme-switch" id="switchDark"
                                aria-describedby="switchDark">
                            <span class="handle"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================================
      START THE MODAL SIDEBAR MENU - guest
    ==================================== -->
    <div class="modal sidebarMenu -left -guest fade" id="mdllSidebar-guest" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="welcome_em">
                        <h2>Welcome to Unic<span>.</span></h2>
                        <p>
                            Connect wallet to browse, Buy, Sell, and create NFTs items.
                        </p>
                        <a href="page-connect-wallet.html" class="btn btn-md-size bg-primary text-white rounded-pill">
                            Connect wallet
                        </a>
                    </div>
                    <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ri-close-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav flex-column -active-links">
                        <li class="nav-item">
                            <a class="nav-link" href="homepage.html">
                                <div class="icon_current">
                                    <i class="ri-compass-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-compass-fill"></i>
                                </div>
                                <span class="title_link">Discover</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="app-homes.html">
                                <div class="icon_current">
                                    <i class="ri-home-5-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-home-5-fill"></i>
                                </div>
                                <span class="title_link">Home Styles</span>

                                <span class="xs-badge">8</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="app-pages.html">
                                <div class="icon_current">
                                    <i class="ri-pages-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-pages-fill"></i>
                                </div>
                                <span class="title_link">Page Packs</span>

                                <div class="badge-circle">
                                    <span class="doted_item"></span>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="app-components.html">
                                <div class="icon_current">
                                    <i class="ri-layout-2-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-layout-2-fill"></i>
                                </div>
                                <span class="title_link">Components</span>

                            </a>
                        </li>

                        <label class="title__label">other</label>

                        <li class="nav-item">
                            <a class="nav-link" href="page-help.html">
                                <div class="icon_current">
                                    <i class="ri-questionnaire-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-questionnaire-fill"></i>
                                </div>
                                <span class="title_link">Help Center</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="page-about.html">
                                <div class="icon_current">
                                    <i class="ri-file-info-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-file-info-fill"></i>
                                </div>
                                <span class="title_link">About Unic.</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="em_darkMode_menu">
                        <label class="text" for="switchDark2">
                            <h3>Dark Mode</h3>
                            <p>Browsing in night mode</p>
                        </label>
                        <label class="switch_toggle toggle_lg theme-switch" for="switchDark2">
                            <input type="checkbox" class="switchDarkMode theme-switch" id="switchDark2"
                                aria-describedby="switchDark2" aria-describedby="switchDark2">
                            <span class="handle"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================================
      START STATUS CONNECTION
    ==================================== -->
    <div class="d-flex justify-content-center">
        <div class="toast status-connection" role="alert" aria-live="assertive" aria-atomic="true"></div>
    </div>
