
 <div id="wrapper">
    <div id="content">
    <app-header  ></app-header>
    <router-outlet></router-outlet>
        <div class="space-sticky"></div>          
    </div>
        <footer class="un-bottom-navigation filter-blur" [hidden]="router.url.includes('/login') || router.url.includes('/member')">
            <div class="em_body_navigation border-0 -active-links">
                <div class="item_link" >
                    <a [routerLink]="['estilistas']"class="btn btn_navLink" aria-label="btnNavigation">
                        <div class="icon_current" >
                            <i class="ri-file-user-line " [ngStyle]="{'color': router.url.includes('/estilistas')  ? 'blue' : 'black'}"></i>
                        </div>
                        <div class="icon_active">
                            <i class="ri-file-user-fill" [ngStyle]="{'color': router.url.includes('/estilistas') ? 'blue' : 'black'}"></i>
                        </div>
                    </a>
                </div>
              <div class="item_link">
                    <button type="button" name="uploadItem" aria-label="uploadItem" disabled [hidden]="router.url.includes('estilistas') || router.url.includes('specialties')|| router.url.includes('services')"
                        class="btn btn_navLink without_active" data-bs-toggle="modal" data-bs-target="#mdllUploadItem" 
                        aria-label="btnNavigation">
                        <div class="btn btnCircle_default">
                            <i class="ri-add-line"></i>
                        </div>
                    </button>
                    <button (click)="openModal(1)" type="button" name="uploadItem" aria-label="uploadItem"  [hidden]="!router.url.includes('estilistas') ||router.url.includes('specialties')"
                        class="btn btn_navLink without_active" data-bs-toggle="modal" data-bs-target="#mdllUploadItem"
                        aria-label="btnNavigation">
                        <div class="btn btnCircle_default">
                            <i class="ri-add-line"></i>
                        </div>
                    </button>
                    <button (click)="openModal(3)" type="button" name="uploadItem" aria-label="uploadItem"  [hidden]="!router.url.includes('specialties')"
                        class="btn btn_navLink without_active" data-bs-toggle="modal" data-bs-target="#mdllUploadItem"
                        aria-label="btnNavigation">
                        <div class="btn btnCircle_default">
                            <i class="ri-add-line"></i>
                        </div>
                    </button>  
                     <button (click)="openModal(4)" type="button" name="uploadItem" aria-label="uploadItem"  [hidden]="!router.url.includes('services')"
                        class="btn btn_navLink without_active" data-bs-toggle="modal" data-bs-target="#mdllUploadItem"
                        aria-label="btnNavigation">
                        <div class="btn btnCircle_default">
                            <i class="ri-add-line"></i>
                        </div>
                    </button>
                </div>
                <div class="item_link"  >
                    <a [routerLink]="['/sumary']"class="btn btn_navLink" aria-label="btnNavigation">
                        <div class="icon_current" >
                            <i class="ri-home-3-line " [ngStyle]="{'color': router.url.includes('/sumary') ? 'blue' : 'black'}"></i>
                        </div>
                        <div class="icon_active">
                            <i class="ri-home-3-fill" [ngStyle]="{'color': router.url.includes('/sumary')  ? 'blue' : 'black'}"></i>
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </div>

    <div class="modal transition-bottom screenFull defaultModal mdlladd__rate fade" id="mdllUploadItem" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header" >
                    <h1 class="title-modal" [hidden]="_butler.modalOption!=1">Agregar estilista</h1>
                    <h1 class="title-modal" [hidden]="_butler.modalOption!=2">Nuevo ticket</h1>
                    <h1 class="title-modal" [hidden]="_butler.modalOption!=3">Nueva especialidad</h1>
                    <h1 class="title-modal" [hidden]="_butler.modalOption!=4">Nuevo servicio</h1>
                    <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ri-close-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="stylist" (ngSubmit)="sendStylist()">
                        <div class="content-upload-item text-center" [hidden]="_butler.modalOption!=1">
                            <p>
                             <span></span>
                            </p>
                            <div class="grid_buttonUpload">
                                <div class="row">     
                                    <div class="col-md-6">
                                          <ngx-awesome-uploader class="fondo" #uploader [adapter]="adapter" [enableCropper]="true"     [captions]="captions">
                                    </ngx-awesome-uploader >
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                             <label>Nombre</label>
                                            <input  class="form-control"  upperCase  type="text"
                                            placeholder="Nombre del estilista" 
                                            formControlName="name"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submittedSpecialty && g['name'].errors }" 
                                            style="margin-top:10%;" 
                                            >
                                        </div>
                                        <div *ngIf="submittedSpecialty && g['name'].errors" class="invalid-feedback">
                                            <div *ngIf="g['name'].errors['required']">Campo requerido</div>
                                        </div>
                                        <div class="form-group">
                                            <label>Especialidad</label>
                                            <select   #branchs class="form-control  " id="branch"  (change)="setBranch(branchs.value)" >
                                                <option   [hidden]="branchsSelected"  >
                                                    <span >
                                                    Seleccione...  
                                                    </span>
                                                </option>
                                                <option   *ngFor="let branch of _butler.branchs;let i = index"value="{{branch.name}}" [hidden]="branch.status!='active'">{{branch.name}}  </option>
                                            </select>
                                        </div>
                                        <p></p>
                                        <p></p>
                                          <button disabled [hidden]="sendStylistFlag" type="submit"  class="btn btn-md-arrow bg-primary w-100" style="color:white;" data-bs-dismiss="modal" style="margin-top:10%;color:white; font-weight:900; justify-content: center;">Aceptar
                                            <div class="ico">
                                                <i class="ri-arrow-drop-right-line"></i>
                                            </div>
                                          </button>
                                          <button [hidden]="!sendStylistFlag" type="submit"  class="btn btn-md-arrow bg-primary w-100" style="color:white;" data-bs-dismiss="modal" style="margin-top:10%;color:white; font-weight:900; justify-content: center;">Aceptar
                                            <div class="ico">
                                              <i class="ri-check-line"></i>
                                            </div>
                                          </button>
                                    </div>
                                </div>                  
                            </div>
                        </div> 
                    </form>

                    <form [formGroup]="specialty" (ngSubmit)="sendSpecialty()">
                        <div class="content-upload-item text-center" [hidden]="_butler.modalOption!=3">
                            <div class="grid_buttonUpload">
                                <div class="row"> 
                                    <div class="col-md-12">               
                                        <p>
                                            Nombre de la especialidad
                                        </p>
                                        <div class="form-group">
                                            <input  class="form-control"  upperCase  type="text"
                                            formControlName="name"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submittedSpecialty && f['name'].errors }" 
                                            style="margin-top:10%;" 
                                            >
                                        </div>
                                        <div *ngIf="submittedSpecialty && f['name'].errors" class="invalid-feedback">
                                            <div *ngIf="f['name'].errors['required']">Campo requerido</div>
                                        </div>
                                        <p></p>
                                        <button type="submit"  class="btn btn-md-arrow bg-primary w-100" style="color:white;" data-bs-dismiss="modal" style="margin-top:10%;color:white; font-weight:900; justify-content: center;">Aceptar

                                            <div class="ico">
                                                <i class="ri-check-line"></i>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </form>
                    <form [formGroup]="service" (ngSubmit)="sendService()">
                        <div class="content-upload-item text-center" [hidden]="_butler.modalOption!=4">
                            <div class="grid_buttonUpload">
                                <div class="row"> 
                                    <div class="col-md-12">               
                                        <p>
                                            Nombre del servicio
                                        </p>
                                        <div class="form-group">
                                            <input  class="form-control"  upperCase  type="text"
                                            formControlName="name"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submittedService && h['name'].errors }" 
                                            style="margin-top:10%;" 
                                            >
                                        </div>
                                        <div *ngIf="submittedService && h['name'].errors" class="invalid-feedback">
                                            <div *ngIf="h['name'].errors['required']">Campo requerido</div>
                                        </div>
                                        <p></p>
                                         <p>
                                            Precio sugerido
                                        </p>
                                        <div class="form-group">
                                            <input  class="form-control"  upperCase  type="number"
                                            formControlName="basePrice"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submittedService && h['basePrice'].errors }" 
                                            style="margin-top:10%;" 
                                            >
                                        </div>
                                        <div *ngIf="submittedService && h['basePrice'].errors" class="invalid-feedback">
                                            <div *ngIf="h['basePrice'].errors['required']">Campo requerido</div>
                                        </div>
                                        <p></p>
                                        
                                        <button type="submit"  class="btn btn-md-arrow bg-primary w-100" style="color:white;" data-bs-dismiss="modal" style="margin-top:10%;color:white; font-weight:900; justify-content: center;">Aceptar

                                            <div class="ico">
                                               <i class="ri-check-line"></i>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                   
                        <div class="content-upload-item text-center" [hidden]="_butler.modalOption!=5">
                            <div class="grid_buttonUpload">
                                <div class="row"> 
                                    <div class="col-md-12">               
                                        <p>
                                            Seguro desea borrar la especialidad: 
                                            <strong>
                                                
                                            {{_butler.specialtyToDelete.name}} 
                                            </strong>
                                            ?
                                        </p>
                                     
                                      
                                        <button type="submit" (click)="deleteSpecialty()" class="btn btn-md-arrow bg-danger w-100" style="color:white;" data-bs-dismiss="modal" style="margin-top:10%;color:white; font-weight:900; justify-content: center;">Borrar

                                            <div class="ico">
                                                <i class="ri-delete-bin-line"></i>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="content-upload-item text-center" [hidden]="_butler.modalOption!=6">
                            <div class="grid_buttonUpload">
                                <div class="row"> 
                                    <div class="col-md-12">               
                                        <p>
                                            Seguro desea borrar el servicio: 
                                            <strong>
                                                
                                            {{_butler.serviceToDelete.name}} 
                                            </strong>
                                            ?
                                        </p>
                                        <button type="submit" (click)="deleteService()" class="btn btn-md-arrow bg-danger w-100" style="color:white;" data-bs-dismiss="modal" style="margin-top:10%;color:white; font-weight:900; justify-content: center;">Borrar
                                            <div class="ico">
                                                <i class="ri-delete-bin-line"></i>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="content-upload-item text-center" [hidden]="_butler.modalOption!=7">
                            <div class="grid_buttonUpload">
                                <div class="row"> 
                                    <div class="col-md-12">               
                                        <p>
                                            Seguro desea borrar el estilista: 
                                            <strong>
                                                
                                            {{_butler.stylistToDelete.name}} 
                                            </strong>
                                            ?
                                        </p>
                                        <button type="submit" (click)="deleteStylist()" class="btn btn-md-arrow bg-danger w-100" style="color:white;" data-bs-dismiss="modal" style="margin-top:10%;color:white; font-weight:900; justify-content: center;">Borrar
                                            <div class="ico">
                                                <i class="ri-delete-bin-line"></i>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                </div>
                <div class="modal-footer border-0">
                    <div class="env-pb"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================================
      START THE MODAL ADD ETH
    ==================================== -->
    <div class="modal transition-bottom screenFull defaultModal mdlladd__rate fade" id="mdllAddETH" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="title-modal">Ventas y cierre de caja</h1>
                    <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ri-close-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="content-upload-item">
                     <!--    <p class="text-center">
                            Select one of the options to deposit <br> ETH to your wallet
                        </p> -->
                        <div class="un-navMenu-default margin-t-30 p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item mb-3">
                                    <a class="nav-link effect-click" href="javascript: void(0)">
                                        <div class="item-content-link">
                                            <div class="icon color-text w-auto">
                                                <i class="ri-exchange-box-line"></i>
                                            </div>
                                            <h3 class="link-title">Listado de cierres</h3>
                                        </div>
                                        <div class="other-cc">
                                            <span class="badge-text"></span>
                                            <div class="icon-arrow">
                                                <i class="ri-arrow-drop-right-line"></i>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item mb-0">
                                    <a class="nav-link effect-click" href="javascript: void(0)">
                                        <div class="item-content-link">
                                            <div class="icon color-text w-auto">
                                                <i class="ri-bank-card-line"></i>
                                            </div>
                                            <h3 class="link-title">Procesar cierre de ventas del dia</h3>
                                        </div>
                                        <div class="other-cc">
                                            <span class="badge-text"></span>
                                            <div class="icon-arrow">
                                                <i class="ri-arrow-drop-right-line"></i>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <div class="modal-footer border-0">
                    <div class="env-pb"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================================
      START THE MODAL SIDEBAR MENU - CONNECTED
    ==================================== -->
    <div class="modal sidebarMenu -left fade" id="mdllSidebar-connected" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header d-block pb-1">
                    <div class="un-user-profile">
                        <div class="image_user">
                            <picture>
                                <source srcset="assets/assetsryal/images/avatar/11.webp" type="image/webp">
                                <img src="assets/assetsryal/images/avatar/11.jpg" alt="image">
                            </picture>
                        </div>
                        <div class="text-user">
                            <h3>Ryal POS</h3>
                            <p>Salon Administrator</p>
                        </div>
                    </div>

                    <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ri-close-fill"></i>
                    </button>

                    <div class="cover-balance">
                        <div class="un-balance">
                            <div class="content-balance">
                                <div class="head-balance">
                                    <h4>Balance del dia</h4>
                                    <a class="btn link-addBalance" data-bs-toggle="modal" data-bs-dismiss="modal"
                                        data-bs-target="#mdllAddETH">
                                        <i class="ri-eye-fill"></i>
                                    </a>
                                </div>
                                <p class="no-balance">$ 389,650 </p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-sm-size bg-white text-dark rounded-pill"
                            data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#mdllUploadItem">
                            Cerrar
                        </button>
                    </div>


                </div>
                <div class="modal-body">
                    <ul class="nav flex-column -active-links">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/sumary']" data-bs-dismiss="modal">
                                <div class="icon_current">
                                         <i class="ri-home-3-line"></i>

                                </div>
                                <div class="icon_active">
                                    <i class="ri-home-3-fill"></i>
                                </div>
                                <span class="title_link">Inicio</span>
                            </a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['estilistas'] " data-bs-dismiss="modal">
                                <div class="icon_current">
                                         <i class="ri-file-user-line"></i>

                                </div>
                                <div class="icon_active">
                                    <i class="ri-file-user-fill"></i>
                                </div>
                                <span class="title_link">Estilistas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >
                                <div class="icon_current">
                                    <i class="ri-pie-chart-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-pie-chart-fill"></i>
                                </div>
                                <span class="title_link">Reportes</span>
                            </a>
                        </li>

                        <label class="title__label"></label>
                          <li class="nav-item">
                            <a  class="nav-link" [routerLink]="['settings']" data-bs-dismiss="modal">
                                <div class="icon_current">
                                    <i class="ri-equalizer-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-equalizer-fill"></i>
                                </div>
                                <span class="title_link">Ajustes</span>
                            </a>
                        </li>
                             <li class="nav-item">
                            <a [routerLink]="['/login']" class="nav-link" data-bs-dismiss="modal">
                                <div class="icon_current">
                                    <i class="ri-logout-box-r-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-logout-box-r-fill"></i>
                                </div>
                                <span class="title_link">Salir</span>
                            </a>
                        </li>
                    </ul>                    
                </div>

                <div class="modal-footer">
                    <div class="em_darkMode_menu">
                        <label class="text" for="switchDark">
                            <h3>Modo Oscuro</h3>
                        </label>
                        <label class="switch_toggle toggle_lg theme-switch" for="switchDark">
                            <input type="checkbox" class="switchDarkMode theme-switch" id="switchDark"
                                aria-describedby="switchDark">
                            <span class="handle"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--     <div class="modal sidebarMenu -left -guest fade" id="mdllSidebar-guest" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="welcome_em">
                        <h2>Welcome to Unic<span>.</span></h2>
                        <p>
                            Connect wallet to browse, Buy, Sell, and create NFTs items.
                        </p>
                        <a href="page-connect-wallet.html" class="btn btn-md-size bg-primary text-white rounded-pill">
                            Connect wallet
                        </a>
                    </div>
                    <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ri-close-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav flex-column -active-links">
                        <li class="nav-item">
                            <a class="nav-link" href="homepage.html">
                                <div class="icon_current">
                                    <i class="ri-compass-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-compass-fill"></i>
                                </div>
                                <span class="title_link">Discover</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="app-homes.html">
                                <div class="icon_current">
                                    <i class="ri-home-5-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-home-5-fill"></i>
                                </div>
                                <span class="title_link">Home Styles</span>

                                <span class="xs-badge">8</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="app-pages.html">
                                <div class="icon_current">
                                    <i class="ri-pages-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-pages-fill"></i>
                                </div>
                                <span class="title_link">Page Packs</span>

                                <div class="badge-circle">
                                    <span class="doted_item"></span>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="app-components.html">
                                <div class="icon_current">
                                    <i class="ri-layout-2-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-layout-2-fill"></i>
                                </div>
                                <span class="title_link">Components</span>

                            </a>
                        </li>

                        <label class="title__label">other</label>

                        <li class="nav-item">
                            <a class="nav-link" href="page-help.html">
                                <div class="icon_current">
                                    <i class="ri-questionnaire-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-questionnaire-fill"></i>
                                </div>
                                <span class="title_link">Help Center</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="page-about.html">
                                <div class="icon_current">
                                    <i class="ri-file-info-line"></i>
                                </div>
                                <div class="icon_active">
                                    <i class="ri-file-info-fill"></i>
                                </div>
                                <span class="title_link">About Unic.</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="em_darkMode_menu">
                        <label class="text" for="switchDark2">
                            <h3>Dark Mode</h3>
                            <p>Browsing in night mode</p>
                        </label>
                        <label class="switch_toggle toggle_lg theme-switch" for="switchDark2">
                            <input type="checkbox" class="switchDarkMode theme-switch" id="switchDark2"
                                aria-describedby="switchDark2" aria-describedby="switchDark2">
                            <span class="handle"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="d-flex justify-content-center">
        <div class="toast status-connection" role="alert" aria-live="assertive" aria-atomic="true"></div>
    </div>
