  <!-- ===================================
              START THE HEADER
            ==================================== -->
            
            <!-- ===================================
              START THE SPACE STICKY
            ==================================== -->
            <div class="space-sticky"></div>
            <!-- ===================================
              START THE NFT SWIPER
            ==================================== -->
  
            <!-- ===================================
              START THE BEST SELLER
            ==================================== -->
            <section class="margin-t-20 unList-bestSeller">
                <!-- un-title-default -->
                <div class="un-title-default">
                    <div class="text">
                        <h2>Estilistas</h2>
                        <p>Seleccione un estilista para ver el detalle o asigne un trabajo</p>
                    </div>
                    <div class="un-block-right">
                        <a href="page-best-seller.html" class="icon-back" aria-label="iconBtn">
                            <i class="ri-arrow-drop-right-line"></i>
                        </a>
                    </div>
                </div>

                <div class="content-list-sellers">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/22.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/22.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>9.4 <span>ETH</span></h5>
                                        <p>John Sullivan <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/9.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/9.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>7.2 <span>ETH</span></h5>
                                        <p>Doris Logue <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox" checked>
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/16.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/16.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>6.8 <span>ETH</span></h5>
                                        <p>James White <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/17.webp" type="image/webp">
                                        <img class="avt-img" src="assets/assetsryal/images/avatar/17.jpg" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5>5.1 <span>ETH</span></h5>
                                        <p>Tito_Calab <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>