  <!-- ===================================
              START THE HEADER
            ==================================== -->
            
            <!-- ===================================
              START THE SPACE STICKY
            ==================================== -->
            <div class="space-sticky"></div>
            <!-- ===================================
              START THE NFT SWIPER
            ==================================== -->
  
            <!-- ===================================
              START THE BEST SELLER
            ==================================== -->
            <section class="margin-t-20 unList-bestSeller">
                <!-- un-title-default -->
                <div class="un-title-default">
                    <div class="text">
                        <h2>Estilistas</h2>
                        <p>Seleccione un estilista para ver el detalle o asigne un trabajo</p>
                    </div>
                    <div class="un-block-right">
                        <a href="page-best-seller.html" class="icon-back" aria-label="iconBtn">
                            <i class="ri-arrow-drop-right-line"></i>
                        </a>
                    </div>
                </div>

                <div class="content-list-sellers">
                    <ul class="nav flex-column">
                        <li class="nav-item" *ngFor="let member of members$ | async" >
                            <div class="nav-link item-user-seller">
                                <a href="page-creator-profile.html" class="item-user-img">
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/22.webp" type="{{member.images[0]}}">
                                        <img class="avt-img" src="{{member.images[0]}}" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5> <span>{{member.categoria}} </span></h5>
                                        <p>{{member.name}} <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option">
                                    <button type="button" class="btn btn-box-check">
                                        <input type="checkbox">
                                        <div class="icon-box">
                                            <i class="ri-add-fill"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </section>